//768


.about{
    &__text{
        font-size: 1.8rem;
    }
}


.products{
    &__card{

        &-downSection{
            width: 80%;
        }
    }
}




@media only screen and (min-width: 900px) {
    .icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}