//768

.heroimg {
    &__p{
        font-size: 2.5rem;
    }
}

.about{
    &__text{
        font-size: 1.8rem;
    }
}
.icons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__item{
        width: 50%;
    }
}

.products{
    &__card{
        min-height: 700px;
        &-info{
            &-item{
                padding: 2px 6px;
                font-size: 1.6rem;
            }
        }
    }
}