//576px
.products{
    &__card{
        &-title{
            font-size: 2.6rem;
            // padding-left: 1em;
        }
        &-downSection{
            width: 80%;
        }
        &-info{
            &-item{
                padding: 2px 6px;
                font-size: 1.4rem;
            }
        }
    }
}